<div class="app-modal" id="newFacadeModal" style="display: none;">
    <form id="addNewFacadeForm">
        <div class="app-modal-header clearfix">
            <a href="#" class="close-modal">Close</a>
            <h1>Add New Facade</h1>
        </div>
        <div class="app-modal-body">
            <div class="inputGroup clearfix">
                <div class='inputHolder'>
                    <div class="input-group">
                        <label>Name</label>
                        <input type="text" id="addNewFacadeFormName">
                    </div>
                </div>
            </div>
        </div>
        <div class="app-modal-footer">
            <input type="submit" value="Add" class="publishBtn">
            <a href="#" class="close-modal">Cancel</a>
        </div>
    </form>
</div>