<div class="app-modal" id="deleteFacadeModal" style="display: none;">
    <form id="deleteFacadeForm">
        <div class="app-modal-header clearfix">
            <a href="#" class="close-modal">Close</a>
            <h1>Delete Facade</h1>
        </div>
        <div class="app-modal-body">
            <h4>Are you sure you want to delete this facade ??</h4>
            <div class="inlineGroup clearfix">
                <input type="checkbox" checked="checked" id="deleteAssocShareatives" style="display:none">
                <label for="deleteAssocShareatives">All shareatives associated with this facade WILL be DELETED !!</label>
            </div>
        </div>
        <div class="app-modal-footer">
            <input type="submit" class="redBtn" value="Delete Facade">
            <a href="#" class="close-modal">Cancel</a>
        </div>
    </form>
</div>