<div class="app-modal" id="deleteShareativeModal" style="display: none;">
    <div class="app-modal-header clearfix">
        <a href="#" class="close-modal">Close</a>
        <h1>Add New Facade</h1>
    </div>
    <div class="app-modal-body">
        <h4>Are you sure you want to delete this Shareative. This cannot be undone.</h4>
    </div>
    <div class="app-modal-footer">
        <a href="#" class="publishBtn">Delete Shareative</a>
        <a href="#" class="close-modal">Cancel</a>
    </div>
</div>