<div class="app-modal" id="newShareativeModal" style="display: none;">
<!--  uncomment the below for ajax
     <#%#= form_for Sharetive.new ,remote: true ,:html => {:class => 'remote_me',multipart: true ,:id => "addNewShareativeForm" } do |f| %>
 -->
 <%= form_for Sharetive.new ,:html => {:class => 'remote_me',multipart: true ,:id => "addNewShareativeForm" } do |f| %>
     <div class="app-modal-header clearfix">
        <a href="#" class="close-modal">Close</a>
        <h1>Create Shareative</h1>
    </div>
    <span class="uploadSpan">
        <div class="app-modal-body">
            <div class="inputGroup clearfix">
                <div class='inputHolder'>
                    <div class="input-group sideBySide">
                        <label for="Facade">Add to Facade</label>
                        <select id="listOfFacades" name='facade_id'>
                            <!-- List of Available Facades will render here -->
                        </select>
                    </div>
                    <div class="input-group">
                        <label for="facadeTitle" >Title</label>
                        <input type="text" id="facadeTitle" name='sharetive[name]'>
                    </div>
                    <div class="input-group">
                        <label for="Description">Description</label>
                        <textarea id="facadeDescription" name='sharetive[description]'></textarea>
                    </div>
                    <div class="input-group">
                        <label for="youtubeURL">YouTube URL</label>
                        <input type="text" id="youtubeURL" name='sharetive[video_url]'>
                    </div>
                    <%= f.hidden_field :sharetive_cache %>
                    <strong> OR </strong>
                    <br/>
                    <br/>
                    <div class="input-group sideBySide lastChild">
                        <label for="uploadThumb">Upload Thumbnail</label>
                        <div class="sideGroup uploadVideoThumbGroup">
                            <a id="uploadVideoThumb">Click to upload a thumbnail for the image</a>
                            <input type="file" id="fileInput" name='sharetive[sharetive]'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-modal-footer">
            <input type="submit" value="Upload" class="publishBtn">
            <a href="#" class="close-modal">Cancel</a>
        </div>
    </span>
  <%end%>

</div>

<script type="text/javascript">
    var fileInput = $('#fileInput');
    $('#uploadVideoThumb').click(function(){
      fileInput.trigger('click');
    });
</script>