<div class="viewsContainer">
    <h2 class="pageTitle fontawesome-file">Shareatives</h2>
    <div id="paneContainer">
        <div class="shareativeContainer">
            <a id="show-all-facades" class="resizeLink">ALL FACADES</a>
            <a class="shareative fontawesome-plus-sign" id="addNewShareative" href="#newShareativeModal">Add Shareative</a>
            <%= render :partial => 'facades/modal-upload-shareative' %> <!-- New Shareative Modal -->
            <div id="shareativesContainerInner" class="clearfix"></div>
        </div>
        <div class="facadesContainer">
            <a id="show-all-shareatives" class="resizeLink">ALL SHAREATIVES</a>
            <%= render :partial => 'facades/add-new-facade' %>
            <div class="facadesHeader clearfix">
                <a class="addFacadeBtn fontawesome-plus-sign" id="newFacadeModal" href="#newFacadeModal">Add Facade</a>
            </div>
            <div id="facadesContainerInner" class="clearfix"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){

        $('#shareativesContainerInner').append(renderAllShareatives());

        $('#facadesContainerInner').append(renderAllFacades());

        // Add New Shareatives modal
        $('a[href="#newShareativeModal"]').leanModal({ closeButton: ".close-modal", top : 40, });

        // Add New Facade modal
        $('a[href="#newFacadeModal"]').leanModal({ closeButton: ".close-modal", top : 200, });

        // Rendering Selectlist to choose facades
        $('.listOfFacades').append(selectListFacades());

        $('#show-all-shareatives').click(function(){

            // Emptying the container and re-rendering it all
            $('#addNewShareative').show();
            $('#shareativesContainerInner').empty();
            $('#shareativesContainerInner').append(renderAllShareatives());


            // Hiding Move Control
            $("#shareativesContainerInner .shareative").addClass('doNotMove');

            $('.shareativeContainer').show(function(){
                configResizeLink($(this));
            });

            resizeContainer('.facadesContainer', '2000px', '0');
            resizeContainer('.shareativeContainer', '0', '100%');

            $('.facadesContainer').hide(1000, function(){
                configResizeLink('.shareativeContainer', 'enable');
            });

            // Deleting a sharetive
            $('.shareativeDelete').click(function(e){
                e.preventDefault();

                // Delete Shareative modal
                $('a[href="#newShareativeModal"]').leanModal({ closeButton: ".close-modal", top : 40, });
            });

        });

        $('#show-all-facades').click(function(){
            $('.facade').show();
            $('.facadesContainer').show(function(){
                configResizeLink($(this));
            });
            resizeContainer('.shareativeContainer', '-2000px', '0');
            resizeContainer('.facadesContainer', '0', '100%');
            $('.shareativeContainer').hide(1000, function(){
                configResizeLink('.facadesContainer', 'enable');
            });
            $('.facade').find('.facadeMove').show(); // Making the Facademove Icon visible
            $('.facadesHeader').hide(); // Hiding facades Nav from the DOM
            $('.facade').removeClass('currentFacade');
        });

        $('.facadeEdit').click(function(e){
            e.preventDefault();

            var facadeID = $(this).parents('.facade').data('fid').toString();

            $('.shareativeContainer').show();
            $('.facadesContainer').show();
            resizeContainer('.shareativeContainer', '0', '20%');
            resizeContainer('.facadesContainer', '20%', '80%');

            // Render only the facade that you are editing
            facadeToEdit(facadeID);

            // Render other available list of facades to edit
            $('.facadesHeader').prepend(editFacadeHeader(facadeID)).show();

            highLightSelected(facadeID);

            $('.editFacadesList a').click(function(e){
                e.preventDefault();
                var facadeID = $(this).attr('href').slice(1,2);

                facadeToEdit(facadeID);

                /*
                    1. Highlight the selected facade to edit
                    2. Empty the shareativesContainer
                    3. Append shareatives relavent to the selected facade to edit (on the left)
                */

                highLightSelected(facadeID);
                $('#shareativesContainerInner').empty(); // Empty it
                // Rendering relevant shareatives
                console.log(facadeID);
                $('#shareativesContainerInner').append(relevantFacadeShareativesPool(facadeID));
                $( "#shareativesContainerInner, #facadeC-" + facadeID ).sortable({
                 connectWith: ".editFacadeConnection",
                 handle: '.shareativeMove',
                 stop : function( event, ui ) {
                    postMoveFacadeEdit(facadeID);
                }
            }).disableSelection();
            });

            /*  Clear Shareatives container and only render the ones
                that are relevant to the facade you are edititing
            */
            $('#addNewShareative').hide();
            $('#shareativesContainerInner').empty(); // Empty it
            $('#shareativesContainerInner').append(relevantFacadeShareativesPool(facadeID)); // Append relevant ones there
            $( "#shareativesContainerInner, #facadeC-" + facadeID ).sortable({
                 connectWith: ".editFacadeConnection",
                 stop : function( event, ui ) {
                    postMoveFacadeEdit(facadeID);
                }
            }).disableSelection();
        });

        $("#facadesContainerInner").sortable({
            handle: ".facadeMove",
            cursor: "move",
            placeholder: "sortable-placeholder",
            start: function( event, ui ) {
                ui.item.addClass('movingFacade');
            },
            stop: function( event, ui ) {
                postMoveFacade();
                ui.item.removeClass('movingFacade');
            }
        }).disableSelection();

        $(".facadeContents").sortable({
            handle: ".shareativeMove",
            cursor: "move",
            connectWith: ".facadeContents",
            stop: function( event, ui ) {
                postMoveShareative();
            }
        }).disableSelection();
    });

// our data - on-page model
var facadeRaw = '{"facades": [{"id": "1","name": "Hobbits","position": "1"}, {"id": "2","name": "Wizards","position": "2"}, {"id": "3","name": "Elves","position": "3"}, {"id": "4","name": "Dwarphs","position": "4"}, {"id": "5","name": "Men","position": "5"}]}';
var shareativeRaw = '{"shareatives":[{"id":"1","name":"Foo1","position":"1","facadeId":"1","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"2","name":"Foo2","position":"2","facadeId":"1","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"3","name":"Foo3","position":"3","facadeId":"1","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"4","name":"Foo4","position":"4","facadeId":"1","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"5","name":"Foo5","position":"5","facadeId":"1","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"6","name":"Foo6","position":"1","facadeId":"2","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"7","name":"Foo7","position":"2","facadeId":"2","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"8","name":"Foo8","position":"3","facadeId":"2","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"9","name":"Foo9","position":"0","facadeId":"2","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"10","name":"Foo10","position":"1","facadeId":"3","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"11","name":"Foo11","position":"2","facadeId":"3","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"12","name":"Foo12","position":"0","facadeId":"3","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"13","name":"Foo13","position":"1","facadeId":"4","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"14","name":"Foo14","position":"2","facadeId":"4","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"15","name":"Foo15","position":"0","facadeId":"4","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"16","name":"Foo16","position":"1","facadeId":"5","shareativeThumb":"/assets/oldman-thumb.jpg","title":"foobarbaz is here"},{"id":"17","name":"Foo17","position":"2","facadeId":"5","shareativeThumb":"/assets/lady-thumb.jpg","title":"foobarbaz is here"},{"id":"18","name":"Foo18","position":"0","facadeId":"5","shareativeThumb":"/assets/dog-thumb.jpg","title":"foobarbaz is here"},{"id":"19","name":"Foo19","position":"0","facadeId":"1","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"20","name":"Foo20","position":"0","facadeId":"1","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"21","name":"Foo21","position":"0","facadeId":"1","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"22","name":"Foo22","position":"0","facadeId":"1","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"23","name":"Foo23","position":"0","facadeId":"1","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"},{"id":"24","name":"Foo24","position":"0","facadeId":"1","shareativeThumb":"/assets/shareative-thumb.jpg","title":"foobarbaz is here"}]}';

facade = JSON.parse(facadeRaw);
var facades = facade.facades;

shareative = JSON.parse(shareativeRaw);
var shareatives = shareative.shareatives;


</script>