<div class="viewsContainer">
    <div class="clearfix">
        <a class="addFacadeBtn fontawesome-plus-sign" id="addFacadeModal" href="#newFacadeModal">Add Facade</a>
        <h2 class="pageTitle fontawesome-file">Facades</h2>
    </div>
  <div id="paneContainer">
    <div class="shareativeContainer">
      <a href="#facades" id="show-all-facades" class="resizeLink">ALL FACADES</a>
      <a class="shareative fontawesome-plus-sign" id="addNewShareative" href="#newShareativeModal">Add Shareative</a>
      <%= render :partial => 'facades/modal-upload-shareative' %> <!-- New Shareative Modal -->
      <div id="shareativesContainerInner" class="clearfix"></div>
    </div>
    <div class="facadesContainer">
      <a href="#shareatives" id="show-all-shareatives" class="resizeLink">ALL SHAREATIVES</a>
      <%= render :partial => 'facades/add-new-facade' %>
      <%= render :partial => 'facades/delete-facade' %>
      <div class="facadesHeader clearfix">
      </div>
      <div id="facadesContainerInner" class="clearfix"></div>
    </div>
  </div>
</div>

<div class='edit_modal_container'></div>
<script type="text/javascript">
    $(window).load(function(){
        updateRoute();
    });

    $(function(){
        if(facades.length === 0) {
            $('#show-all-shareatives').hide();
        }

        var screenWidth = $(window).width();
        screenWidth = screenWidth + (screenWidth * 0.1);

        $('body').on('dblclick', '.currentFacade h3', function(event){
            editFacadeInit ($(this), event);
        });

        $('body').on('click', '.setHeadingSubmit', function(event){
            event.preventDefault();
            setFacadeHeading($(this).parent().siblings('h3'));
        });

        // Adding a Facade and hiding the modal
        $('#updateFacadeNameForm').submit(function(event){
            event.preventDefault();
            setFacadeHeading (node);
            hideModal($('#updateFacadeNameForm'));
        });

        $('#shareativesContainerInner').append(renderAllShareatives());

        $('#facadesContainerInner').append(renderAllFacades());

        // Add New Shareatives modal
        $('a[href="#newShareativeModal"]').leanModal({ closeButton: ".close-modal", top : 40, });

        // Add New Facade modal
        $('a[href="#newFacadeModal"]').leanModal({ closeButton: ".close-modal", top : 100, });

        // Delete Facade modal
        $('a[href="#deleteFacadeModal"]').leanModal({ closeButton: ".close-modal", top : 100, });

        $('#addNewShareative').click(function(event){
            event.preventDefault();
            console.log(selectListFacades());

            if($('.app-modal').is(':visible')) {
                console.log('Visible Now');
            }

            // Rendering Selectlist to choose facades
            $('#listOfFacades').html(selectListFacades());
        });


        $('#show-all-shareatives').click(function(){

            // Updating the title
            updateTitleofContainer ('All Shareatives');

            $('#listOfFacades').html(selectListFacades());

            $('#shareativesContainerInner').removeClass('editFacadeConnection');
            // Hiding add facade link
            $('#addFacadeModal').hide();
            // Emptying the container and re-rendering it all
            $('#addNewShareative').show();
            $('#shareativesContainerInner').empty();
            $('#shareativesContainerInner').append(renderAllShareatives());
            // Deleting a sharetive
            $('body').on('click', '.shareativeEdit', function(e){
                e.preventDefault();
                console.log('edit clicked');
                // Add New Shareatives modal
                $('a[href="#newShareativeModal"]').leanModal({ closeButton: ".close-modal", top : 40, });
            });

            // Hiding Move Control
            $("#shareativesContainerInner .shareative").addClass('doNotMove');

            $('.shareativeContainer').show(function(){
                configResizeLink($(this));
            });


            resizeContainer('.facadesContainer', screenWidth, '0');
            resizeContainer('.shareativeContainer', '0', '100%');

            $('.facadesContainer').hide(1000, function(){
                configResizeLink('.shareativeContainer', 'enable');
            });

        });

        $('#show-all-facades').click(function(){

            // Updating the title
            updateTitleofContainer ('All Facades');

            // SHowing add facade link
            $('#addFacadeModal').show();
            $('.facade').show();
            $('.facadesContainer').show(function(){
                configResizeLink($(this));
            });


            resizeContainer('.shareativeContainer', "-" + screenWidth, '0');
            resizeContainer('.facadesContainer', '0', '100%');

            $('.shareativeContainer').hide(1000, function(){
                configResizeLink('.facadesContainer', 'enable');
            });
            $('.facade').find('.facadeMove').show(); // Making the Facademove Icon visible
            $('.facadesHeader').hide(); // Hiding facades Nav from the DOM
            $('.facade').removeClass('currentFacade');
        });


        // FACADE EDIT    
        $('body').on('click', '.facadeEdit', function(e){
            e.preventDefault();

            // Updating the title
            updateTitleofContainer ('Edit Facade');

            // SHowing add facade link
            $('#addFacadeModal').hide();

            var facadeID = $(this).parents('.facade').data('fid').toString();

            $('.shareativeContainer').show();
            $('.facadesContainer').show();
            resizeContainer('.shareativeContainer', '0', '20%');
            resizeContainer('.facadesContainer', '20%', '80%');

            // Render only the facade that you are editing
            facadeToEdit(facadeID);

            // Render other available list of facades to edit
            $('.facadesHeader').html(editFacadeHeader(facadeID)).show();

            highLightSelected(facadeID);

            $('.editFacadesList a').click(function(e){
                e.preventDefault();
                var facadeID = $(this).attr('href');

                facadeToEdit(facadeID);

                /*
                 1. Highlight the selected facade to edit
                 2. Empty the shareativesContainer
                 3. Append shareatives relavent to the selected facade to edit (on the left)
                 */

                highLightSelected(facadeID);
                $('#shareativesContainerInner').empty(); // Empty it
                // Rendering relevant shareatives

                $('#shareativesContainerInner').append(relevantFacadeShareativesPool(facadeID));
                $( "#shareativesContainerInner, #facadeC-" + facadeID ).sortable({
                    connectWith: ".editFacadeConnection",
                    handle: '.shareativeMove',
                    stop : function( event, ui ) {
                        postMoveFacadeEdit(facadeID);
                    }
                }).disableSelection();
            });

            /*  Clear Shareatives container and only render the ones
             that are relevant to the facade you are edititing
             */
            $('#addNewShareative').hide();
            $('#shareativesContainerInner').empty(); // Empty it
            $('#shareativesContainerInner').append(relevantFacadeShareativesPool(facadeID)); // Append relevant ones there
            $( "#shareativesContainerInner, #facadeC-" + facadeID ).sortable({
                connectWith: ".editFacadeConnection",
                stop : function( event, ui ) {
                    postMoveFacadeEdit(facadeID);
                }
            }).disableSelection();
        });

        facadeMovementInit();

        // Reseting the form
        $('#addFacadeModal').click(function(){
            document.querySelector('#addNewFacadeForm').reset();
        });


        // Adding a Facade and hiding the modal
        $('#addNewFacadeForm').submit(function(event){
            event.preventDefault();
            addNewFacade();
            hideModal($('#newFacadeModal'));
        });

        // Deleting a Facade
        $('body').on('click', '.facadeDelete', function(event){
            event.preventDefault();
            // Reseting the Facade delete form
            document.querySelector('#deleteFacadeForm').reset();

            var facadeIdToDelete = $(this).parents('.facade').data('fid');
            $('#deleteFacadeForm').submit(function(event){
                event.preventDefault();
                var checkedVal = $('#deleteAssocShareatives').is(':checked');
                facadeDelete(facadeIdToDelete, checkedVal);
                hideModal($('#deleteFacadeModal'));
                $('#show-all-facades').trigger('click'); // Redirecting to All Facades view
            });
        });

        $('body').on('click', '.deleteShareative', function(event){
            event.preventDefault();

            var facadeId = $(this).data('fid');
            var shareativeId = $(this).data('sid');

            deleteShareative(shareativeId, facadeId);
        });

        // Cancel Deleting a Facade
        $('body').on('click', '.cancelEditFacadeName', function(event){
            event.preventDefault();
            $(this).parent().siblings('h3').show();
            $('#updateFacadeNameForm').remove();
        });
    });

    var facadeRaw = <%= @facades.entries.as_json.to_json.html_safe %>;
    var shareativeRaw = <%= @sharetives.entries.as_json.to_json.html_safe %>;
    var facades = facadeRaw;
    var shareatives = shareativeRaw;

</script>

<script>
  $('div.shareativeContainer').delegate('a.shareativeEdit','click',function(event) {
    event.preventDefault();
    console.log("asasas");
    var sharetive_id = $(this).data('id')
    $.ajax({
      url: '/sharetives/'+sharetive_id+'/edit',
      type: 'get',
      dataType : 'html',
      success: function(data) {
        $("div.edit_modal_container").html(data);
        $('a[href="#editShareativeModal"]').leanModal({closeButton:".close-modal",top : 40});
        $('a.editModaltriggger').trigger('click');   
      },
      error: function(data) {
        alert('aaaa')
        console.log("errrrrrrrrrr");
      }
    })
  })
</script>