<%= form_for(@facade) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br/>
  <div>
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>
  <div>
    <%= f.hidden_field :poaster_instance_id %>
  </div>
  <br/>
  <div>
    <%= f.submit  :submit %>
  </div>
<%end%>
