<tr>
  <td><label for=""><input type="checkbox"></label></td>
  <td><%= user.full_name %></td>
  <td><%= user.email %></td>
  <td><%= user.user_roles %></td>
  <td> 
    <%unless current_user.id == user.id %>
      <%= link_to "", edit_user_path(user.id), :class => "edit entypo-pencil" %>
      <%= link_to "",user_path(user.id),method: :delete,confirm: 'Are you Sure',:class => "delete entypo-trash" %>
    <%end%>
  </td>
</tr>
