  <div id="appContainer" class="addAccountContainer clearfix">
    <strong id="usersCount" class="entypo-users">
      <%= link_to "#{@users.count} users",users_path %> / Edit Users
    </strong>
  </div>
  <%= form_for(@user, url: user_path(@user.id),method: :put) do |f| %>
    <div class="accountGroup">
      <div class="inputGroup errorGroup clearfix">
        <strong>&nbsp;</strong>
        <div class='inputHolder'> </div>
      </div>
      <div class="inputGroup clearfix">
        <strong>User Information</strong>
        <div class='inputHolder'>
          <div class="input-group split">
            <label for="firstName">First Name</label>
            <%= f.text_field :first_name %>
          </div>
          <div class="input-group split lastChild">
            <label for="lastName">Last Name</label>
            <%= f.text_field :last_name %>
          </div>
          <div class="input-group">
            <label for="EmailAddress">Email Address</label>
            <%= f.text_field :email %>
          </div>
        </div>
      </div>
      <div class="inputGroup clearfix">
        <strong>Role</strong>
        <div class="inputHolder clearfix">
          <div id="roleSelector" class="input-group">
            <div class="radioGroup">
              <span class="fontawesome-circle">
                <%= radio_button_tag 'user[roles][]',"curator",@user.roles.include?("curator") %>
              </span>
              <label for="curator">Curator</label>
            </div>
            <div class="radioGroup">
              <span>
                <%= radio_button_tag 'user[roles][]',"networker",@user.roles.include?("networker") %>
              </span>
              <label for="networker">Networker</label>
            </div>
          </div>
        </div>
      </div>
      <div class="inputGroup clearfix">
        <div class="input-group">
          <%= link_to 'Cancel',users_path,:class => 'cancel'%>
          <%= f.submit "Save Information",:class => 'curvyBtn' %>
        </div>
      </div>
    </div>
  <%end%>

<script type="text/javascript">
  $(document).ready(function() {
    $('.radioGroup input:radio').click(function(){
      if( $(this).is(':checked') ) {
        $('.radioGroup > span').removeClass('fontawesome-circle');
        $(this).parent('span').addClass('fontawesome-circle');
      }
    });

    $("input:radio:checked").trigger("click");
  });
</script>
