<div class="clearfix" id="userListHeader">
  <div id="userListActions">
    <a href="#" class="entypo-export greyBtn" id="exportUsers">Export</a>
    <%= link_to 'Add User' , new_user_path, :class => 'curvyBtn entypo-plus-circled', :id => 'addUser' %>
  </div>
  <div id="userListTasks">
    <strong id="usersCount" class="entypo-users"><span><%= @users.count %></span> users</strong>
    <input type="text" placeholder="Search...">
    <a href="#" id="filter" class="fontawesome-filter"></a>
    <div class="pagination">
      <%= link_to_previous_page @users, '', :class => 'entypo-left-open-big' %>
      <%= link_to_next_page @users, '', :class => 'entypo-right-open-big' %>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th><label for=""><input type="checkbox"></label></th>
      <th>Name</th>
      <th>Email / Username</th>
      <th>Role</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>

<script type="text/javascript">
  $('input:checkbox').click(function(){
    if( $(this).is(':checked') ) {
      $(this).parent('label').addClass('entypo-check');
    } else {
      $(this).parent('label').removeClass('entypo-check');
    }
  });
</script>

