<div class="formWrapper signIn">
  <%= image_tag("logo.png", alt: "Poaster", id: "signInLogo") %>
  <%= form_for(@user, url: logged_in_path,method: :post) do |f| %>
    <%= render 'flash_notifications' %>

    <%= f.text_field :email, :placeholder => "Email" %>
    <%= f.password_field :password, :placeholder => "Password" %>

  <div class="actions">
    <%= f.submit 'SIGN IN' %>
  </div>
  <% end %>

  <span class="formNote">Don't have an account? <a href="#">Sign up</a></span>
</div>
