  <div id="appContainer" class="addAccountContainer clearfix">
    <strong id="usersCount" class="entypo-users">
      <%= link_to "#{@users.count} users",users_path %> / Add Users
    </strong>
    <span id="csvUpload">OR <%= link_to 'Import with CSV' ,'#csvModal' %></span>
  </div>
  <%= form_for(@user, url: users_path,method: :post) do |f| %>
    <div class="accountGroup">
      <div class="inputGroup errorGroup clearfix">
        <strong>&nbsp;</strong>
        <div class='inputHolder'> </div>
      </div>
      <div class="inputGroup clearfix">
        <strong>User Information</strong>
        <div class='inputHolder'>
          <div class="input-group split">
            <label for="firstName">First Name</label>
            <%= f.text_field :first_name %>
          </div>
          <div class="input-group split lastChild">
            <label for="lastName">Last Name</label>
            <%= f.text_field :last_name %>
          </div>
          <div class="input-group">
            <label for="EmailAddress">Email Address</label>
            <%= f.text_field :email %>
          </div>
        </div>
      </div>
      <div class="inputGroup clearfix">
        <strong>Role</strong>
        <div class="inputHolder clearfix">
          <div id="roleSelector" class="input-group">
            <div class="radioGroup">
              <span class="fontawesome-circle">
                <%= radio_button_tag 'user[roles][]',"curator",@user.roles.include?("curator") %>
              </span>
              <label for="curator">Curator</label>
            </div>
            <div class="radioGroup">
              <span>
                <%= radio_button_tag 'user[roles][]',"networker",@user.roles.include?("networker") %>
              </span>
              <label for="networker">Networker</label>
            </div>
          </div>
        </div>
      </div>
      <div class="inputGroup clearfix">
        <strong><%= link_to '+ Add another user','#',:id => "addAnotherUser"%></strong>
        <div class="input-group">
          <%= link_to 'Cancel',users_path,:class => 'cancel'%>
          <%= f.submit "Save Information",:class => 'curvyBtn' %>
        </div>
      </div>
    </div>
  <%end%>

<div class="app-modal" id="csvModal" style="display: none;">
  <div class="app-modal-header clearfix">
    <a href="#" class="close-modal">Close</a>
    <h1>Import CSV file</h1>
  </div>
  <span class="uploadSpan">
    <div class="app-modal-body">
      <div class="uploadForm">
        <img src="/assets/csv.png" alt="CSV">
        <span>Click an icon above to Browse/Select<br>file from your Computer.</span>
        <%= form_tag upload_users_path ,:method => :post ,:id => 'importUsers',multipart: true, :remote => true do  %>
          <%= file_field_tag 'user[attachment]' ,:id => 'csvInput' %>
          <%= submit_tag 'Submit',:class => 'none submit_me' %>
        <%end%>
      </div>
      <strong id="fileName"></strong>
    </div>
    <div class="app-modal-footer">
      <a href="#" class="curvyBtn">Upload File</a>
    </div>
  </span>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.radioGroup input:radio').click(function(){
      if( $(this).is(':checked') ) {
        $('.radioGroup > span').removeClass('fontawesome-circle');
        $(this).parent('span').addClass('fontawesome-circle');
      }
    });

    $("span.fontawesome-circle").find("input[type=radio]").trigger("click");

    var fileInput = $('#csvInput');
    $('.uploadForm img').click(function(){
      $('#csvInput').trigger('click');
    });

    $('#csvInput').change(function(){
      $('#fileName').append($(this).val().slice(12));
    });

    $('a[href="#csvModal"]').click(function(){
      $('span.uploadSpan ul.form_error').text('')
      $('span.uploadSpan ul.form_error').removeClass("form_error")
    })

    $('a[href="#csvModal"]').leanModal({ closeButton: ".close-modal" });

    $("a.curvyBtn").bind('click',function(event) {
      event.preventDefault();
      $('form#importUsers').submit()
    })

    //reloaded the page on close of modal because the file chosen to upload remained the same even after changing it.
    $(".close-modal").on("click", function () {
      location.reload()
    });
  });
</script>
