<%= remotipart_response do %>
  $('a.curvyBtn').hide()
  $('span.uploadSpan ul.form_error').text('')
  $('span.uploadSpan ul.form_error').removeClass("form_error")
  var errors = $('<ul class="form_error">');
  <% if @msg.is_a?(Array) %>
    <% @msg.each do |m|%>
      <% m["error"] = m["error"].first.gsub('Email', m['email']) %>
      errors.append('<li><%= escape_javascript(m["error"]) %></li>')
    <% end %>
  <% else %>
    errors.append('<li><%= escape_javascript(@msg) %></li>')
  <% end %>
  errors.append('</ul>')
  $('span.uploadSpan').prepend(errors);
  $('a.curvyBtn').show()
<% end %>
