/* Constants */
@context: 16; //Base browser font size

.liquid_layout ( @target, @context ) {
 	@result: ( ( @target / @context ) * 100 );
 	width: 0% + @result;
}

.font ( @fontWeight, @fontStyle, @fontSize, @lineHeight, @fontFamily ) {
	@fontsize: ( @fontSize / @context );
	@fontype: ( 0rem + @fontsize );
	font: @fontWeight @fontStyle ~'@{fontype}/@{lineHeight}' @fontFamily;
	// font-size: @fontSize; //IE8 Fallback
}

.fontSize ( @fontSize ){
	@fontsize: ( @fontSize / @context );
	@fontype: ( 0rem + @fontsize );
	font-size: @fontype;
	// font-size: @fontSize; //IE8 Fallback
}
.sticky_footer ( @wrapSelector, @wrapperSelector, @footerSelector, @footerHeight ) {
	#@{wrapSelector} { min-height: 100%; }
	#@{wrapperSelector} { padding-bottom: @footerHeight; }
	#@{footerSelector} { position: relative; margin-top: -@footerHeight; height: @footerHeight; clear:both; }
}


// Button Mixin
.button ( @buttonBg, @buttonBorderColor ) {
	display: inline-block;
	.font ( normal, normal, 15px, 39px, @basicFontFamily );
	height: 39px;
	color: white;
	border-radius: 4px;
	padding: 0 18px;
	cursor: pointer;
	border: @buttonBorderColor solid 1px;
	background-color: @buttonBg;
}