.box_sizing () {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.transform(@angle){
	-webkit-transform: rotate(@angle);
	-moz-transform: rotate(@angle);
	-ms-transform: rotate(@angle);
	-o-transform: rotate(@angle);
	transform: rotate(@angle);
}

.border_radius ( @radiusWidth ) {
	-webkit-border-radius: @radiusWidth;
	-moz-border-radius: @radiusWidth;
	-ms-border-radius: @radiusWidth;
	-o-border-radius: @radiusWidth;
	border-radius: @radiusWidth;
}

.opacity ( @opacityValue ) {
	@result: ( @opacityValue * 100 );
	opacity: @opacityValue; //Modern browsers
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@{result})"; //IE8
	filter: alpha( opacity=@result ); /* IE 5-7 */
}

.btn {
	.font ( bold, normal, 15px, 39px, @basicFontFamily );
	height: 39px;
	color: @textColor;
	padding: 0 12px;
	cursor: pointer;
	border: @btnBorder solid 1px;
	background-color: @btnBackground;
	display: inline-block;
}

.curvyBtn {
	display: inline-block;
	.font ( normal, normal, 15px, 39px, @basicFontFamily );
	height: 39px;
	color: white;
	border-radius: 4px;
	padding: 0 18px;
	cursor: pointer;
	border: @btnBorder solid 1px;
	background-color: @curvyBtnBackground;
}

.greyBtn {
	display: inline-block;
	.font ( normal, normal, 15px, 36px, @basicFontFamily );
	color: @textColor;
	// margin-right: 14px;
	padding: 0 16px;
	border: @inputBorder solid 1px;
	background-color: @formBackground;
}

input[placeholder] {
	padding: 14px 17px;
	background-color: @inputBackground;
	border: @inputBorder solid 1px;
	margin-bottom: 20px;
	color: @inputColor;
	.font ( normal, normal, 15px, 20px, @basicFontFamily );
	&:focus { color: @inputFocusColor; }
	// Wont work on background-color property though. Will have to turn off autocomplete
	// &:-webkit-autofill { background-color: @inputBackground !important; }
}

// Tootip
.tooltip {
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
    font-size: 14px;
    padding: 6px 14px;
    text-align: center;
    white-space: nowrap;
    background-color: #f7f7f7;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background-clip: padding-box;
    .font ( normal, normal, 12px, 16px, @sansFontFamily );
    z-index: -1;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
}