// Application Default/Common

.flashMessage {
	// height: 107px;
	text-align: center;
	color: @mainGreen;
	.fontSize(18px);
	line-height: 107px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
}

#app {
	padding: 0 50px;
	margin-bottom: 50px;
	// Navigation
	.profileDetail {
		position: relative;
		float: right;
		top: 20px;
		padding: 10px;
		background-color: white;
		&.open {
			-moz-box-shadow:    0px -2px 5px 0px #D4D3D4;
			-webkit-box-shadow: 0px -2px 5px 0px #D4D3D4;
			box-shadow:         0px -2px 5px 0px #D4D3D4;
		}
		// &:hover .list { display: block; }
		strong {
			display: inline-block;
			.font ( normal, normal, 14px, 14px, @basicFontFamily );
			color: black;
		}
		.org {
			display: block;
			.fontSize(12px);
		}
		.list {
			background-color: inherit;
			display: none;
			-moz-box-shadow:    0px 3px 5px 0px #D4D3D4;
			-webkit-box-shadow: 0px 3px 5px 0px #D4D3D4;
			box-shadow:         0px 3px 5px 0px #D4D3D4;
			padding: 10px 10px;
			width: 100%;
			position: absolute;
			top: 48px;
			left: 0;
			> a {
				display: block;
				color: @gray;
				text-indent: 5px;
				border-top: #f1f1f1 solid 1px;
				.font ( normal, normal, 14px, 45px, @basicFontFamily );
				&:hover { background-color: @darkBlue; color: white; }
			}
		}
	}


	#appProfile {
		float: right;
	}
	#appHeader {
		height: 107px;
		#brand {
			display: block;
			width: 108px;
			position: relative;
			top: 22px;
		}
	}
	#pageHeader {
		margin: 0 -50px 25px -50px;
		padding: 0 50px;
		height: 65px;
		-webkit-box-shadow: 0px 1px 9px rgba(114, 114, 114, 0.75);
		-moz-box-shadow:    0px 1px 9px rgba(114, 114, 114, 0.75);
		box-shadow:         0px 1px 9px rgba(114, 114, 114, 0.75);
		background-color: @formBackground;
		border-top: @grayLighter solid 1px;
		border-bottom: @grayLighter solid 1px;
		> h1 { float: left; line-height: 65px; font-weight: bold; font-size: 17px; color: @textColor; }
		> .btn { float: right; margin-top: 11px; }
	}
	label {
		display: block;
		margin-bottom: 8px;
	}
	#appContainer {
		> h2 {
			float: left;
			margin-bottom: 30px;
			.fontSize(23px);
			> a {
				color: @grayLight;
				.fontSize(22px);
			}
		}
		> div { float: right; }
		&.addAccountContainer { border-bottom: @tableHeadBorder solid 1px; margin-bottom: 14px; }
	}
	.table {
		width: 100%;
		tr.disabled {
			opacity: 0.4;
			a { color: @gray; }
		}
		th {
			text-align: left;
			line-height: 49px;
			.fontSize(15px);
			font-weight: normal;
			border-top: @tableHeadBorder solid 1px;
			border-bottom: @tableHeadBorder solid 1px;
		}
		tr {
			> th:first-child, > td:first-child { padding-left: 20px; }
			&:hover {
				background-color: @tbodyRowHover;
				.edit { color: #80abf6; }
				.delete { color: #e7927f; }
			}
		}
		td {
			padding: 12px 0;
			.fontSize(15px);
			color: @textColor;
			border-bottom: @tableDataBorder solid 1px;
		}
		th, td {
			> label[for] {
				display: block;
				top: 5px;
				color: black;
				position: relative;
				width: 20px;
				height: 20px;
				cursor: pointer;
				border: @grayLighter solid 1px;
				text-align: center;
				font-size: 0.90rem;
				&.checked { border: @grayLight solid 1px; color: black; }
				&:before { height: 20px; }
			}
			input[type="checkbox"] {
				cursor: inherit;
				width: inherit;
				height: inherit;
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0;
			}
			.edit, .delete {
				margin-right: 10px;
				color: #ececec;
				.fontSize(25px);
			}
			.role {
				text-align: center;
				display: inline-block;
				padding: 0 22px;
				background-color: @formBackground;
				border: @inputBorder solid 1px;
				line-height: 30px;
			}
		}
	}

	// Pagination
	.pagination {
		display: inline-block;
		margin-right: 16px;
		> a {
			display: inline-block;
			.font ( bold, normal, 15px, 39px, @basicFontFamily );
			color: #9c9c9c;
			padding: 0 26px;
			border: @inputBorder solid 1px;
			background-color: @formBackground;
		}
	}
}

.accountGroup {
	.inputGroup {
		border-bottom: @tableHeadBorder solid 1px; margin-bottom: 22px;
		&.errorGroup { border-bottom: none; }
		strong {
			float: left;
			width: 390px;
			text-indent: 64px;
		}
		.input-group, .inputHolder {
			float: left;
			clear: none;
			width: 594px;
			&.split {
				width: 48%;
				&.lastChild { float: right; }
			}
			&.wide {
				clear: both;
				float: none;
			}
		}
		.cancel {
			display: inline-block;
			.font ( bold, normal, 15px, 39px, @basicFontFamily );
			color: #9c9c9c;
			margin-right: 14px;
			padding: 0 26px;
			border: @inputBorder solid 1px;
			background-color: @formBackground;
		}
		&:last-child { border-bottom: none; margin-bottom: 0; }
	}
}

// App Tabs

#appTabs {
	float: right;
	margin-right: -50px;
	> li {
		float: left;
		margin-right: 1px;
		&:last-child { margin-right: 0; }
		> a {
			display: block;
			color: @textColor;
			padding: 0 17px;
			background-color: white;
			.font ( normal, normal, 15px, 63px, @basicFontFamily );
			&:before { margin-right: 13px; }
			&:hover, &.current { background-color: @darkBlue; color: white; }
		}
	}
}
