// Content Tab
.pageTitle {
    .font ( normal, normal, 17px, 51px, @basicFontFamily );
}

#shareativesContainerInner {
    min-height: 500px;
    &.editFacadeConnection {
        .shareativeEdit { display: none; }
    }
    .shareative {
        z-index: 2;
        // margin-right: 18px;
        margin: 0 18px 25px 0;
    }
}


#facadesContainerInner {
    .shareative {
        .shareativeEdit { display: none; }
    }
}
.shareative {
    float: left;
    position: relative;
    width: 155px;
    height: 155px;
    background-color: #f2f2f2;
    padding: 10px 15px;
    -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
    border: 1px solid #ddd;
    border-radius: 2px;
    // margin: 0 18px 25px 0;
    margin: 18px 12px 25px 6px;
    z-index: 1;
    &:nth-of-type(3n) {
        margin: 18px 0 25px 0;
    }
    &.doNotMove {
        .shareativeControls .shareativeMove { display: none; }
    }
    &:hover .shareativeControls { display: block; }
    &#addNewShareative {
        .font ( normal, normal, 13px, 145px, @basicFontFamily );
        text-align: center;
        &:before {
            display: block;
            position: relative;
            top: 45px;
            color: @brandingGreen;
            .fontSize(44px);
            line-height: 10px;
        }
    }
    .shareativeAsset {
        height: 100px;
        .shareativeAssetImg {
            box-shadow: inset 0 0 8px 1px rgba(0,0,0,1);
            overflow: hidden;
            border-radius: 4px;
            img {
                position: relative;
                z-index: -2;
            }
        }
    }
    // Youtube video
    .videoShareative {
        position: relative;
        z-index: 2;
        text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
        .youTubeIcon {
            position: absolute;
            left: 0;
            top: 0;
            color: black;
            opacity: 0.7;
            padding: 0 6px;
            background-color: white;
            .fontSize(30px);
            z-index: 3;
        }
        > img { margin: auto; }
    }
    .shareativeControls {
        position: absolute;
        display: none;
        right: 0;
        top:0;
        background : @brandingGreen;
        border-bottom-left-radius: 4px;
        z-index: 4;
        > a {
            float: left;
            cursor: pointer;
            text-align: center;
            color: white;
            height: 29px;
            line-height: 29px;
            .fontSize(15px);
            width: 35px;
            &:hover, &:active { color: @brandingOrange; }
        }
    }
}

.shareativeContainer {
    .shareative {
        &:nth-of-type(2n) { margin: 0 18px 25px 0; }
    }
}

.shareative > img {
    margin: 0 auto 6px auto;
}

.shareative > H4 {
    line-height: 15px;
    height: 30px;
    overflow: hidden;
    margin-top: 5px;
    text-align: center;
    font-weight: normal;
    font-size: 12px;
}

// Facad Styles
.facade {
    width: 509px;
    float: left;
    margin: 0 48px 35px 0;
    height: 450px;
    border: @facadeBorder solid 1px;
    background: white url('/assets/facade-grid.png') no-repeat 0 54px;
    &.movingFacade {
        -webkit-box-shadow: 6px 6px 10px -3px @grayLight;
        box-shadow: 6px 6px 10px -3px @grayLight;
    }
    &.currentFacade {
        float: none;
        margin: auto !important;
        // > .facadeHeader:hover {
        //     // Making tooltip appear
        //     .tooltip {
        //         z-index: 1;
        //         top: -50px;
        //     }
        // }
        > .facadeHeader > .facadeControls .facadeDelete { display: block; }
        > .facadeHeader > .facadeControls .facadeEdit { display: none; }
        
    }
    &:nth-child(2n) { margin-right: 0; }
    > .facadeHeader {
        height: 55px;
        border-bottom: @facadeBorder solid 1px;
        position: relative;
        > h3 {
            position: absolute;
            left: 0;
            top: 0;
            .font ( bold, normal, 15px, 54px, @basicFontFamily );
            text-indent: 24px;
        }
        #updateFacadeNameForm {
            > * {
                z-index: 99;
                margin: 6px;
                float: left;
                margin-left: 5px;
            }
        }
        .facadeHeadingInput {
            color: rgba( 0, 0, 0, 0.75 );
            .font ( normal, normal, 14px, 18px, @sansFontFamily );
            border-radius: 2px;
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            padding: 6px;
            width: auto;
            height: 42px;
            background-color: #fafafa;
            border: 1px solid #ccc;
        }
        .setHeadingSubmit {
            cursor: pointer;
            background-color: #fbf8f5;
            border: #ccc solid 1px;
            color: #bcbab8;
            .fontSize(12px);
            height: 41px;
            padding: 0 10px;
            border-radius: 3px;
            &:hover { background-color: #eee; }
            &:active { outline: none; }
        }
        .cancelEditFacadeName {
            cursor: pointer;
            background-color: #fbf8f5;
            border: #ccc solid 1px;
            color: @brandingOrange;
            .fontSize(24px);
            line-height: 38px;
            padding: 0 15px;
            border-radius: 3px;
        }
        > .facadeControls {
            float: right;
            > a {
                float: left;
                cursor: pointer;
                text-align: center;
                color: @facadeBorder;
                height: 54px;
                line-height: 54px;
                .fontSize(25px);
                border-left: @facadeBorder solid 1px;
                width: 65px;
                &:hover, &:active { color: @grayLight; }
            }
            .facadeDelete { display: none; }
        }
    }
    .shareative > .shareativeControls > .shareativeDelete { display: none; height: 0; }
    .facadeContents { min-height: 300px; }
}

.sortable-placeholder {
    height: 450px;
    border: @facadeBorder dashed 1px;
}
    .previewBtn, .draftBtn, .publishBtn, .redBtn {
        margin-right: 13px;
    }
    .previewBtn {
        .button ( @blueBtnColor, @blueBtnColor );
    }

    .draftBtn {
        .button ( @orangeBtnColor, @orangeBtnColor );
    }

    .publishBtn {
        .button ( @mainGreen, @mainGreen );
    }

    .redBtn {
        .button ( @brandingOrange, @brandingOrange );
    }

.viewsContainer {
    position: static;
    .pageTitle {
        margin-bottom: 30px;
        font-weight: bold;
        line-height: 25px;
        &:before {
            margin-right: 10px;
            .fontSize(25px);
        }
    }
    #paneContainer {
        position: relative;
        width: 100%;
        > div[class] {
            position: absolute;
             width: inherit;
            &.shareativeContainer {
                left: -2000px;
                border-right: @grayLighter solid 2px;
            }
            &.facadesContainer {
                min-height: 500px;
                left: 0;
                border-left: @grayLighter solid 2px;
                #facadesContainerInner {
                    padding: 30px 0 30px 82px;
                }
                .facadesHeader {
                    display: none;
                    margin-bottom: 20px;
                    padding: 0 11px;
                }
            }
        }
    }

    .resizeLink {
        .font ( normal, normal, 13px, 31px, @basicFontFamily );
        text-transform: uppercase;
        color: black;
        width: 160px;
        background-color: @inputBorder;
        padding: 0 25px;
        font-weight: bold;
        position: absolute;
        top: 250px;
        text-align: center;
        cursor: pointer;
        &.disabled {
            opacity: 0.4;
            pointer-events: none;
        }
        &#show-all-shareatives {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            left: -66px;
            .transform(-90deg);
            -webkit-box-shadow: -2px 3px 3px #ccc;
            box-shadow: -2px 3px 3px #ccc;
        }
        &#show-all-facades {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            .transform(90deg);
            right: -66px;
            -webkit-box-shadow: 2px -3px 4px #ccc;
            box-shadow: 2px -3px 4px #ccc;
        }
    }
}

.editFacadesList {
    float: left;
    > li {
        float: left;
        margin: 0 16px 16px 0;
        &:first-child { margin-left: 0; }
        &.selected > a {
            background-color: @brandingOrange;
            color: white;
        }
        > a {
            display: block;
            padding: 0 15px;
            border-radius: 4px;
            color: black;
            background-color: @formBackground;
            .font ( normal, normal, 11.2px, 30px, @basicFontFamily );
            letter-spacing: 0.1em;
            text-align: center;
        }
    }
}

.addFacadeBtn {
    float: right;
    text-transform: uppercase;
    .button ( @mainGreen, @mainGreen );
    &:before { .fontSize(16px); margin-right: 6px; }
}

#uploadVideoThumb { cursor: pointer; }