// Forms

// Sign in
.formWrapper {
    margin: 0 auto;
    // background-color: @formBackground;
    &.signIn {
        width: 394px;
        // padding: 57px 58px;
        > #signInLogo {
            margin: 0 auto 50px auto;
            position: relative;
            top: 30px;
        }
        h2 {
            text-align: center;
            color: @grayDark;
            margin-bottom: 28px;
            .font ( normal, normal, 17px, 20px, @basicFontFamily );
        }
        input[type="text"], input[type="email"], input[type="password"] {
            padding: 14px 17px;
            background-color: @inputBackground;
            border: @inputBorder solid 1px;
            margin-bottom: 20px;
            color: @inputColor;
            .font ( normal, normal, 15px, 25px, @basicFontFamily );
            &:focus { color: @inputFocusColor; }
            // Wont work on background-color property though. Will have to turn off autocomplete
            // &:-webkit-autofill { background-color: @inputBackground !important; }
        }
        input[type="checkbox"] + label[for] {
            .font ( normal, normal, 13px, 22px, @basicFontFamily );
            color: @grayLight;
            cursor: pointer;
        }
        input[type="submit"] {
            box-shadow: 1px 2px 13px #999;
            .font ( bold, normal, 15px, 22px, @basicFontFamily );
            border: @inputSubmitBorderColor solid 1px;
            display: block;
            cursor: pointer;
            margin: 12px 0 0 0;
            width: 100%;
            height: 55px;
            color: @textColor;
            background-color: @brandingGreen;
            &:active { outline: none; }
        }
    }
    .formNote {
        background: transparent url(/assets/forms/underscore.gif) no-repeat center top;
        padding-top: 27px;
        margin-bottom: 115px;
        display: block;
        text-align: center;
        .font ( normal, normal, 13px, 22px, @basicFontFamily );
        color: @textColor;
    }
}

// Form Messages
    // Errors / Warnings
    .messageWrapper {
        margin: 20px 0; // Contexual
        background-color: @errorBackground;
        border: @errorBorder solid 1px;
        padding: 15px 22px;
        color: @errorText;
        position: relative;
        .messageIcon {
            height: 100%;
            position: absolute;
            top: 35%;
            > span { color: white; }
        }
        .errorBox { float: left; margin-left: 30px; }
        .errorList {
            // list-style: disc;
            color: white;
            > li {
                .fontSize(14px);
                margin-top: 6px;
            }
        }
    }

    .input-group {
        clear: both;
        margin-bottom: 15px;
        .messageWrapper { margin-top: 0; }
        > label {
            .fontSize(14px);
        }
        input[type="text"], input[type="password"], input[type="email"], textarea {
            // display: block;
            .fontSize(15px);
            height: 38px;
            padding: 0 9px;
            background-color: @inputBackground;
            border: @inputBorder solid 1px;
        }
        &.sideBySide {
            > label {
                float: left;
                margin: 0 15px 0 0;
                width: 25%;
            }
            .sideGroup {
                float: left;
                width: 70%;
                input[type="text"], input[type="password"], input[type="email"], textarea {
                    margin: 0;
                }
                &.uploadVideoThumbGroup {
                    #uploadVideoThumb { .fontSize(14px); cursor: pointer; }
                    input[type="file"] { visibility: hidden; opacity: 0; height: 0; }
                }
            }
        }
        textarea {
            padding: 8px;
            resize: none;
            height: 86px;
        }
    }

    // Radio Group
    .radioGroup {
        float: left; margin-right: 50px;
        > span {
            display: inline-block;
            position: relative;
            top: 5px;
            width: 20px;
            height: 20px;
            border: @gray solid 1px;
            border-radius: 100%;
            > input[type="radio"] {
                cursor: pointer;
                opacity: 0;
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
            }
            &:before {
                position: absolute;
                left: 4px;
                top: 4px;
                color: #4a4e51;
                .fontSize(11px);
            }
        }
        > label {
            cursor: pointer;
            display: inline-block;
            margin-left: 5px;
        }
    }

    .inlineGroup {
        margin-top: 20px;
        > * { float: left; margin-right: 10px; }
        > input[type="checkbox"] { margin-top: 3px; }
        > label { margin-bottom: 0; .fontSize(14px)}
    }
