@import-once "global/_variables.less";
@import-once "global/_reset.less";
@import-once "global/_functions.less";
@import-once "global/_mixins.less";

.sticky_footer(wrap, wrapper, footer, 51px);

body { font-family: @basicFontFamily; }

// entypo
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#wrapper {
    .messageWrapper { margin: 0; }
}

// Temp Footer

#footer {
	background-color: @footerBackground;
	padding: 0 58px;
    .font ( normal, normal, 12px, 51px, @basicFontFamily );
    > a {
        display: inline-block;
        margin-right: 55px;
        color: white;
        .font ( normal, normal, 12px, 51px, @basicFontFamily );
    }
    > p { float: right; color: @grayLight; }
}

// Special cases
body#login, body#logged_in {
    background: url('/assets/login-hero.jpg') no-repeat;
    background-size: cover;
    #bodyPattern {
        position: fixed;
        width: 100%;
        height: 100%;
        background: url(/assets/blue-slant-pattern.png) repeat;
        z-index: -1;
    }
    #footer {
        background-color: transparent;
        > a {
            // color: @textColor;
            font-weight: bold;
        }
    }
    #wrapper, #footer {
        position: relative;
        z-index: 2;
    }
}


// Application Common
@import-once "common.less";

// User
@import-once "user.less";

// Forms less
@import-once "forms.less";

// Modal less
@import-once "modal.less";

// Content
@import-once "content.less";