#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.app-modal {
    background-color: white;
    border-radius: 6px;
    border: #989898 solid 1px;
    width: 610px;
    position: fixed;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0px 0px 15px -2px #888;
    -moz-box-shadow: 0px 0px 15px -2px #888;
    -ms-box-shadow: 0px 0px 15px -2px #888;
    box-shadow: 0px 0px 15px -2px #888;
    .app-modal-header {
        border-bottom: @grayLighter solid 1px;
        padding: 0 22px;
        > * { line-height: 65px; }
        > .close-modal {
            float: right;
            color: @linkColor;
            .font ( normal, normal, 13px, 65px, @basicFontFamily );
        }
        > h1 {
            float: left;
            .font ( bold, normal, 17px, 65px, @basicFontFamily );
        }
    }
    .app-modal-body {
        padding: 14px 22px;
        #fileName {
            color: @linkColor;
            height: 16px;
            display: block;
            text-align: center;
            .font ( normal, normal, 13px, 16px, @basicFontFamily );
        }
        .uploadForm {
            width: 50%;
            margin: 0 auto 14px auto;
            padding-top: 32px;
            height: 170px;
            background-color: @formBackground;
            > img { margin: 0 auto 20px auto; cursor: pointer; }
            > span {
                display: block;
                text-align: center;
                .font ( normal, normal, 13px, 18px, @basicFontFamily );
                color: @grayLight;
            }
        }
    }
    .app-modal-footer {
        padding: 14px 22px;
    }
}
