// User List

#userListTasks { margin: 52px 0 22px 0; }

#userListActions {
    float: right;
    > a {
        display: inline-block;
        margin-left: 10px;
        text-transform: uppercase;
        &#exportUsers:before {
            padding-right: 6px;
            .fontSize(18px);
        }
        &#addUser:before {
            padding-right: 6px;
            .fontSize(18px);
        }
    }
}

#userListTasks {
    // float: left;
    > * {
        display: inline-block;
    }
    > input[placeholder] {
        max-width: 270px;
        padding: 9px;
    }
    #usersCount {
        font-weight: normal;
        margin-right: 18px;
        padding-left: 14px;
        > span { color: #acacac; padding-left: 8px; }
    }
    #filter {
        margin: 0 17px 0 10px;
        padding: 0 13px;
        background-color: @brandingOrange;
        line-height: 39px;
        color: white;
        &:after { content: "\25be"; padding-left: 8px; }
    }
}

.addAccountContainer {
    > strong { font-weight: normal; }
    padding: 15px 0 29px 0;
    #usersCount:before { padding-right: 8px; }
}

// Add Another user link

#addAnotherUser { font-weight: normal; .fontSize(15px); line-height: 40px; }

// CSV Upload link
#csvUpload {
    margin-left: 43px;
    > a { .fontSize(15px); }
}

// Role Selector
#roleSelector label { display: inline-block; margin-bottom: 0; }
#importUsers { position: absolute; left: -9999px; top: 0; }
