* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}
img,
fieldset {
  border: none;
}
img,
object,
embed,
audio,
video {
  display: block;
  max-width: 100%;
}
ul,
ol {
  list-style: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  float: none;
  font-size: 0;
}
a {
  text-decoration: none;
  color: #76a8fa;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  outline: none;
  width: 100%;
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Constants */
.btn {
  font: bold normal 0.9375rem/39px "Century Gothic", Helvetica, Arial, sans-serif;
  height: 39px;
  color: #262626;
  padding: 0 12px;
  cursor: pointer;
  border: #98c942 solid 1px;
  background-color: #cbe989;
  display: inline-block;
}
.curvyBtn {
  display: inline-block;
  font: normal normal 0.9375rem/39px "Century Gothic", Helvetica, Arial, sans-serif;
  height: 39px;
  color: white;
  border-radius: 4px;
  padding: 0 18px;
  cursor: pointer;
  border: #98c942 solid 1px;
  background-color: #98c942;
}
.greyBtn {
  display: inline-block;
  font: normal normal 0.9375rem/36px "Century Gothic", Helvetica, Arial, sans-serif;
  color: #262626;
  padding: 0 16px;
  border: #e6e6e6 solid 1px;
  background-color: #f2f2f2;
}
input[placeholder] {
  padding: 14px 17px;
  background-color: #ffffff;
  border: #e6e6e6 solid 1px;
  margin-bottom: 20px;
  color: #999999;
  font: normal normal 0.9375rem/20px "Century Gothic", Helvetica, Arial, sans-serif;
}
input[placeholder]:focus {
  color: #333333;
}
.tooltip {
  position: absolute;
  left: 0;
  top: 0;
  color: #333;
  font-size: 14px;
  padding: 6px 14px;
  text-align: center;
  white-space: nowrap;
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  font: normal normal 0.75rem/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: -1;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
#wrap {
  min-height: 100%;
}
#wrapper {
  padding-bottom: 51px;
}
#footer {
  position: relative;
  margin-top: -51px;
  height: 51px;
  clear: both;
}
body {
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
}
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#wrapper .messageWrapper {
  margin: 0;
}
#footer {
  background-color: #4a4e51;
  padding: 0 58px;
  font: normal normal 0.75rem/51px "Century Gothic", Helvetica, Arial, sans-serif;
}
#footer > a {
  display: inline-block;
  margin-right: 55px;
  color: white;
  font: normal normal 0.75rem/51px "Century Gothic", Helvetica, Arial, sans-serif;
}
#footer > p {
  float: right;
  color: #999999;
}
body#login,
body#logged_in {
  background: url('/assets/login-hero.jpg') no-repeat;
  background-size: cover;
}
body#login #bodyPattern,
body#logged_in #bodyPattern {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(/assets/blue-slant-pattern.png) repeat;
  z-index: -1;
}
body#login #footer,
body#logged_in #footer {
  background-color: transparent;
}
body#login #footer > a,
body#logged_in #footer > a {
  font-weight: bold;
}
body#login #wrapper,
body#logged_in #wrapper,
body#login #footer,
body#logged_in #footer {
  position: relative;
  z-index: 2;
}
.flashMessage {
  text-align: center;
  color: #99c942;
  font-size: 1.125rem;
  line-height: 107px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
}
#app {
  padding: 0 50px;
  margin-bottom: 50px;
}
#app .profileDetail {
  position: relative;
  float: right;
  top: 20px;
  padding: 10px;
  background-color: white;
}
#app .profileDetail.open {
  -moz-box-shadow: 0px -2px 5px 0px #d4d3d4;
  -webkit-box-shadow: 0px -2px 5px 0px #d4d3d4;
  box-shadow: 0px -2px 5px 0px #d4d3d4;
}
#app .profileDetail strong {
  display: inline-block;
  font: normal normal 0.875rem/14px "Century Gothic", Helvetica, Arial, sans-serif;
  color: black;
}
#app .profileDetail .org {
  display: block;
  font-size: 0.75rem;
}
#app .profileDetail .list {
  background-color: inherit;
  display: none;
  -moz-box-shadow: 0px 3px 5px 0px #D4D3D4;
  -webkit-box-shadow: 0px 3px 5px 0px #D4D3D4;
  box-shadow: 0px 3px 5px 0px #D4D3D4;
  padding: 10px 10px;
  width: 100%;
  position: absolute;
  top: 48px;
  left: 0;
}
#app .profileDetail .list > a {
  display: block;
  color: #555555;
  text-indent: 5px;
  border-top: #f1f1f1 solid 1px;
  font: normal normal 0.875rem/45px "Century Gothic", Helvetica, Arial, sans-serif;
}
#app .profileDetail .list > a:hover {
  background-color: #0f2b3b;
  color: white;
}
#app #appProfile {
  float: right;
}
#app #appHeader {
  height: 107px;
}
#app #appHeader #brand {
  display: block;
  width: 108px;
  position: relative;
  top: 22px;
}
#app #pageHeader {
  margin: 0 -50px 25px -50px;
  padding: 0 50px;
  height: 65px;
  -webkit-box-shadow: 0px 1px 9px rgba(114, 114, 114, 0.75);
  -moz-box-shadow: 0px 1px 9px rgba(114, 114, 114, 0.75);
  box-shadow: 0px 1px 9px rgba(114, 114, 114, 0.75);
  background-color: #f2f2f2;
  border-top: #eeeeee solid 1px;
  border-bottom: #eeeeee solid 1px;
}
#app #pageHeader > h1 {
  float: left;
  line-height: 65px;
  font-weight: bold;
  font-size: 17px;
  color: #262626;
}
#app #pageHeader > .btn {
  float: right;
  margin-top: 11px;
}
#app label {
  display: block;
  margin-bottom: 8px;
}
#app #appContainer > h2 {
  float: left;
  margin-bottom: 30px;
  font-size: 1.4375rem;
}
#app #appContainer > h2 > a {
  color: #999999;
  font-size: 1.375rem;
}
#app #appContainer > div {
  float: right;
}
#app #appContainer.addAccountContainer {
  border-bottom: #cccccc solid 1px;
  margin-bottom: 14px;
}
#app .table {
  width: 100%;
}
#app .table tr.disabled {
  opacity: 0.4;
}
#app .table tr.disabled a {
  color: #555555;
}
#app .table th {
  text-align: left;
  line-height: 49px;
  font-size: 0.9375rem;
  font-weight: normal;
  border-top: #cccccc solid 1px;
  border-bottom: #cccccc solid 1px;
}
#app .table tr > th:first-child,
#app .table tr > td:first-child {
  padding-left: 20px;
}
#app .table tr:hover {
  background-color: #f8f8f8;
}
#app .table tr:hover .edit {
  color: #80abf6;
}
#app .table tr:hover .delete {
  color: #e7927f;
}
#app .table td {
  padding: 12px 0;
  font-size: 0.9375rem;
  color: #262626;
  border-bottom: #f1f1f1 solid 1px;
}
#app .table th > label[for],
#app .table td > label[for] {
  display: block;
  top: 5px;
  color: black;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: #eeeeee solid 1px;
  text-align: center;
  font-size: 0.90rem;
}
#app .table th > label[for].checked,
#app .table td > label[for].checked {
  border: #999999 solid 1px;
  color: black;
}
#app .table th > label[for]:before,
#app .table td > label[for]:before {
  height: 20px;
}
#app .table th input[type="checkbox"],
#app .table td input[type="checkbox"] {
  cursor: inherit;
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
#app .table th .edit,
#app .table td .edit,
#app .table th .delete,
#app .table td .delete {
  margin-right: 10px;
  color: #ececec;
  font-size: 1.5625rem;
}
#app .table th .role,
#app .table td .role {
  text-align: center;
  display: inline-block;
  padding: 0 22px;
  background-color: #f2f2f2;
  border: #e6e6e6 solid 1px;
  line-height: 30px;
}
#app .pagination {
  display: inline-block;
  margin-right: 16px;
}
#app .pagination > a {
  display: inline-block;
  font: bold normal 0.9375rem/39px "Century Gothic", Helvetica, Arial, sans-serif;
  color: #9c9c9c;
  padding: 0 26px;
  border: #e6e6e6 solid 1px;
  background-color: #f2f2f2;
}
.accountGroup .inputGroup {
  border-bottom: #cccccc solid 1px;
  margin-bottom: 22px;
}
.accountGroup .inputGroup.errorGroup {
  border-bottom: none;
}
.accountGroup .inputGroup strong {
  float: left;
  width: 390px;
  text-indent: 64px;
}
.accountGroup .inputGroup .input-group,
.accountGroup .inputGroup .inputHolder {
  float: left;
  clear: none;
  width: 594px;
}
.accountGroup .inputGroup .input-group.split,
.accountGroup .inputGroup .inputHolder.split {
  width: 48%;
}
.accountGroup .inputGroup .input-group.split.lastChild,
.accountGroup .inputGroup .inputHolder.split.lastChild {
  float: right;
}
.accountGroup .inputGroup .input-group.wide,
.accountGroup .inputGroup .inputHolder.wide {
  clear: both;
  float: none;
}
.accountGroup .inputGroup .cancel {
  display: inline-block;
  font: bold normal 0.9375rem/39px "Century Gothic", Helvetica, Arial, sans-serif;
  color: #9c9c9c;
  margin-right: 14px;
  padding: 0 26px;
  border: #e6e6e6 solid 1px;
  background-color: #f2f2f2;
}
.accountGroup .inputGroup:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
#appTabs {
  float: right;
  margin-right: -50px;
}
#appTabs > li {
  float: left;
  margin-right: 1px;
}
#appTabs > li:last-child {
  margin-right: 0;
}
#appTabs > li > a {
  display: block;
  color: #262626;
  padding: 0 17px;
  background-color: white;
  font: normal normal 0.9375rem/63px "Century Gothic", Helvetica, Arial, sans-serif;
}
#appTabs > li > a:before {
  margin-right: 13px;
}
#appTabs > li > a:hover,
#appTabs > li > a.current {
  background-color: #0f2b3b;
  color: white;
}
#userListTasks {
  margin: 52px 0 22px 0;
}
#userListActions {
  float: right;
}
#userListActions > a {
  display: inline-block;
  margin-left: 10px;
  text-transform: uppercase;
}
#userListActions > a#exportUsers:before {
  padding-right: 6px;
  font-size: 1.125rem;
}
#userListActions > a#addUser:before {
  padding-right: 6px;
  font-size: 1.125rem;
}
#userListTasks > * {
  display: inline-block;
}
#userListTasks > input[placeholder] {
  max-width: 270px;
  padding: 9px;
}
#userListTasks #usersCount {
  font-weight: normal;
  margin-right: 18px;
  padding-left: 14px;
}
#userListTasks #usersCount > span {
  color: #acacac;
  padding-left: 8px;
}
#userListTasks #filter {
  margin: 0 17px 0 10px;
  padding: 0 13px;
  background-color: #de5e41;
  line-height: 39px;
  color: white;
}
#userListTasks #filter:after {
  content: "\25be";
  padding-left: 8px;
}
.addAccountContainer {
  padding: 15px 0 29px 0;
}
.addAccountContainer > strong {
  font-weight: normal;
}
.addAccountContainer #usersCount:before {
  padding-right: 8px;
}
#addAnotherUser {
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 40px;
}
#csvUpload {
  margin-left: 43px;
}
#csvUpload > a {
  font-size: 0.9375rem;
}
#roleSelector label {
  display: inline-block;
  margin-bottom: 0;
}
#importUsers {
  position: absolute;
  left: -9999px;
  top: 0;
}
.formWrapper {
  margin: 0 auto;
}
.formWrapper.signIn {
  width: 394px;
}
.formWrapper.signIn > #signInLogo {
  margin: 0 auto 50px auto;
  position: relative;
  top: 30px;
}
.formWrapper.signIn h2 {
  text-align: center;
  color: #333333;
  margin-bottom: 28px;
  font: normal normal 1.0625rem/20px "Century Gothic", Helvetica, Arial, sans-serif;
}
.formWrapper.signIn input[type="text"],
.formWrapper.signIn input[type="email"],
.formWrapper.signIn input[type="password"] {
  padding: 14px 17px;
  background-color: #ffffff;
  border: #e6e6e6 solid 1px;
  margin-bottom: 20px;
  color: #999999;
  font: normal normal 0.9375rem/25px "Century Gothic", Helvetica, Arial, sans-serif;
}
.formWrapper.signIn input[type="text"]:focus,
.formWrapper.signIn input[type="email"]:focus,
.formWrapper.signIn input[type="password"]:focus {
  color: #333333;
}
.formWrapper.signIn input[type="checkbox"] + label[for] {
  font: normal normal 0.8125rem/22px "Century Gothic", Helvetica, Arial, sans-serif;
  color: #999999;
  cursor: pointer;
}
.formWrapper.signIn input[type="submit"] {
  box-shadow: 1px 2px 13px #999;
  font: bold normal 0.9375rem/22px "Century Gothic", Helvetica, Arial, sans-serif;
  border: #94c858 solid 1px;
  display: block;
  cursor: pointer;
  margin: 12px 0 0 0;
  width: 100%;
  height: 55px;
  color: #262626;
  background-color: #8fc145;
}
.formWrapper.signIn input[type="submit"]:active {
  outline: none;
}
.formWrapper .formNote {
  background: transparent url(/assets/forms/underscore.gif) no-repeat center top;
  padding-top: 27px;
  margin-bottom: 115px;
  display: block;
  text-align: center;
  font: normal normal 0.8125rem/22px "Century Gothic", Helvetica, Arial, sans-serif;
  color: #262626;
}
.messageWrapper {
  margin: 20px 0;
  background-color: #de5e41;
  border: #af6f5e solid 1px;
  padding: 15px 22px;
  color: #b94a48;
  position: relative;
}
.messageWrapper .messageIcon {
  height: 100%;
  position: absolute;
  top: 35%;
}
.messageWrapper .messageIcon > span {
  color: white;
}
.messageWrapper .errorBox {
  float: left;
  margin-left: 30px;
}
.messageWrapper .errorList {
  color: white;
}
.messageWrapper .errorList > li {
  font-size: 0.875rem;
  margin-top: 6px;
}
.input-group {
  clear: both;
  margin-bottom: 15px;
}
.input-group .messageWrapper {
  margin-top: 0;
}
.input-group > label {
  font-size: 0.875rem;
}
.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="email"],
.input-group textarea {
  font-size: 0.9375rem;
  height: 38px;
  padding: 0 9px;
  background-color: #ffffff;
  border: #e6e6e6 solid 1px;
}
.input-group.sideBySide > label {
  float: left;
  margin: 0 15px 0 0;
  width: 25%;
}
.input-group.sideBySide .sideGroup {
  float: left;
  width: 70%;
}
.input-group.sideBySide .sideGroup input[type="text"],
.input-group.sideBySide .sideGroup input[type="password"],
.input-group.sideBySide .sideGroup input[type="email"],
.input-group.sideBySide .sideGroup textarea {
  margin: 0;
}
.input-group.sideBySide .sideGroup.uploadVideoThumbGroup #uploadVideoThumb {
  font-size: 0.875rem;
  cursor: pointer;
}
.input-group.sideBySide .sideGroup.uploadVideoThumbGroup input[type="file"] {
  visibility: hidden;
  opacity: 0;
  height: 0;
}
.input-group textarea {
  padding: 8px;
  resize: none;
  height: 86px;
}
.radioGroup {
  float: left;
  margin-right: 50px;
}
.radioGroup > span {
  display: inline-block;
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  border: #555555 solid 1px;
  border-radius: 100%;
}
.radioGroup > span > input[type="radio"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}
.radioGroup > span:before {
  position: absolute;
  left: 4px;
  top: 4px;
  color: #4a4e51;
  font-size: 0.6875rem;
}
.radioGroup > label {
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
}
.inlineGroup {
  margin-top: 20px;
}
.inlineGroup > * {
  float: left;
  margin-right: 10px;
}
.inlineGroup > input[type="checkbox"] {
  margin-top: 3px;
}
.inlineGroup > label {
  margin-bottom: 0;
  font-size: 0.875rem;
}
#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}
.app-modal {
  background-color: white;
  border-radius: 6px;
  border: #989898 solid 1px;
  width: 610px;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0px 0px 15px -2px #888888;
  -moz-box-shadow: 0px 0px 15px -2px #888888;
  -ms-box-shadow: 0px 0px 15px -2px #888888;
  box-shadow: 0px 0px 15px -2px #888888;
}
.app-modal .app-modal-header {
  border-bottom: #eeeeee solid 1px;
  padding: 0 22px;
}
.app-modal .app-modal-header > * {
  line-height: 65px;
}
.app-modal .app-modal-header > .close-modal {
  float: right;
  color: #76a8fa;
  font: normal normal 0.8125rem/65px "Century Gothic", Helvetica, Arial, sans-serif;
}
.app-modal .app-modal-header > h1 {
  float: left;
  font: bold normal 1.0625rem/65px "Century Gothic", Helvetica, Arial, sans-serif;
}
.app-modal .app-modal-body {
  padding: 14px 22px;
}
.app-modal .app-modal-body #fileName {
  color: #76a8fa;
  height: 16px;
  display: block;
  text-align: center;
  font: normal normal 0.8125rem/16px "Century Gothic", Helvetica, Arial, sans-serif;
}
.app-modal .app-modal-body .uploadForm {
  width: 50%;
  margin: 0 auto 14px auto;
  padding-top: 32px;
  height: 170px;
  background-color: #f2f2f2;
}
.app-modal .app-modal-body .uploadForm > img {
  margin: 0 auto 20px auto;
  cursor: pointer;
}
.app-modal .app-modal-body .uploadForm > span {
  display: block;
  text-align: center;
  font: normal normal 0.8125rem/18px "Century Gothic", Helvetica, Arial, sans-serif;
  color: #999999;
}
.app-modal .app-modal-footer {
  padding: 14px 22px;
}
.pageTitle {
  font: normal normal 1.0625rem/51px "Century Gothic", Helvetica, Arial, sans-serif;
}
#shareativesContainerInner {
  min-height: 500px;
}
#shareativesContainerInner.editFacadeConnection .shareativeEdit {
  display: none;
}
#shareativesContainerInner .shareative {
  z-index: 2;
  margin: 0 18px 25px 0;
}
#facadesContainerInner .shareative .shareativeEdit {
  display: none;
}
.shareative {
  float: left;
  position: relative;
  width: 155px;
  height: 155px;
  background-color: #f2f2f2;
  padding: 10px 15px;
  -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 18px 12px 25px 6px;
  z-index: 1;
}
.shareative:nth-of-type(3n) {
  margin: 18px 0 25px 0;
}
.shareative.doNotMove .shareativeControls .shareativeMove {
  display: none;
}
.shareative:hover .shareativeControls {
  display: block;
}
.shareative#addNewShareative {
  font: normal normal 0.8125rem/145px "Century Gothic", Helvetica, Arial, sans-serif;
  text-align: center;
}
.shareative#addNewShareative:before {
  display: block;
  position: relative;
  top: 45px;
  color: #8fc145;
  font-size: 2.75rem;
  line-height: 10px;
}
.shareative .shareativeAsset {
  height: 100px;
}
.shareative .shareativeAsset .shareativeAssetImg {
  box-shadow: inset 0 0 8px 1px #000000;
  overflow: hidden;
  border-radius: 4px;
}
.shareative .shareativeAsset .shareativeAssetImg img {
  position: relative;
  z-index: -2;
}
.shareative .videoShareative {
  position: relative;
  z-index: 2;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
}
.shareative .videoShareative .youTubeIcon {
  position: absolute;
  left: 0;
  top: 0;
  color: black;
  opacity: 0.7;
  padding: 0 6px;
  background-color: white;
  font-size: 1.875rem;
  z-index: 3;
}
.shareative .videoShareative > img {
  margin: auto;
}
.shareative .shareativeControls {
  position: absolute;
  display: none;
  right: 0;
  top: 0;
  background: #8fc145;
  border-bottom-left-radius: 4px;
  z-index: 4;
}
.shareative .shareativeControls > a {
  float: left;
  cursor: pointer;
  text-align: center;
  color: white;
  height: 29px;
  line-height: 29px;
  font-size: 0.9375rem;
  width: 35px;
}
.shareative .shareativeControls > a:hover,
.shareative .shareativeControls > a:active {
  color: #de5e41;
}
.shareativeContainer .shareative:nth-of-type(2n) {
  margin: 0 18px 25px 0;
}
.shareative > img {
  margin: 0 auto 6px auto;
}
.shareative > H4 {
  line-height: 15px;
  height: 30px;
  overflow: hidden;
  margin-top: 5px;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
}
.facade {
  width: 509px;
  float: left;
  margin: 0 48px 35px 0;
  height: 450px;
  border: #e4e4e4 solid 1px;
  background: #ffffff url('/assets/facade-grid.png') no-repeat 0 54px;
}
.facade.movingFacade {
  -webkit-box-shadow: 6px 6px 10px -3px #999999;
  box-shadow: 6px 6px 10px -3px #999999;
}
.facade.currentFacade {
  float: none;
  margin: auto !important;
}
.facade.currentFacade > .facadeHeader > .facadeControls .facadeDelete {
  display: block;
}
.facade.currentFacade > .facadeHeader > .facadeControls .facadeEdit {
  display: none;
}
.facade:nth-child(2n) {
  margin-right: 0;
}
.facade > .facadeHeader {
  height: 55px;
  border-bottom: #e4e4e4 solid 1px;
  position: relative;
}
.facade > .facadeHeader > h3 {
  position: absolute;
  left: 0;
  top: 0;
  font: bold normal 0.9375rem/54px "Century Gothic", Helvetica, Arial, sans-serif;
  text-indent: 24px;
}
.facade > .facadeHeader #updateFacadeNameForm > * {
  z-index: 99;
  margin: 6px;
  float: left;
  margin-left: 5px;
}
.facade > .facadeHeader .facadeHeadingInput {
  color: rgba(0, 0, 0, 0.75);
  font: normal normal 0.875rem/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 2px;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 6px;
  width: auto;
  height: 42px;
  background-color: #fafafa;
  border: 1px solid #ccc;
}
.facade > .facadeHeader .setHeadingSubmit {
  cursor: pointer;
  background-color: #fbf8f5;
  border: #ccc solid 1px;
  color: #bcbab8;
  font-size: 0.75rem;
  height: 41px;
  padding: 0 10px;
  border-radius: 3px;
}
.facade > .facadeHeader .setHeadingSubmit:hover {
  background-color: #eee;
}
.facade > .facadeHeader .setHeadingSubmit:active {
  outline: none;
}
.facade > .facadeHeader .cancelEditFacadeName {
  cursor: pointer;
  background-color: #fbf8f5;
  border: #ccc solid 1px;
  color: #de5e41;
  font-size: 1.5rem;
  line-height: 38px;
  padding: 0 15px;
  border-radius: 3px;
}
.facade > .facadeHeader > .facadeControls {
  float: right;
}
.facade > .facadeHeader > .facadeControls > a {
  float: left;
  cursor: pointer;
  text-align: center;
  color: #e4e4e4;
  height: 54px;
  line-height: 54px;
  font-size: 1.5625rem;
  border-left: #e4e4e4 solid 1px;
  width: 65px;
}
.facade > .facadeHeader > .facadeControls > a:hover,
.facade > .facadeHeader > .facadeControls > a:active {
  color: #999999;
}
.facade > .facadeHeader > .facadeControls .facadeDelete {
  display: none;
}
.facade .shareative > .shareativeControls > .shareativeDelete {
  display: none;
  height: 0;
}
.facade .facadeContents {
  min-height: 300px;
}
.sortable-placeholder {
  height: 450px;
  border: #e4e4e4 dashed 1px;
}
.previewBtn,
.draftBtn,
.publishBtn,
.redBtn {
  margin-right: 13px;
}
.previewBtn {
  display: inline-block;
  font: normal normal 0.9375rem/39px "Century Gothic", Helvetica, Arial, sans-serif;
  height: 39px;
  color: white;
  border-radius: 4px;
  padding: 0 18px;
  cursor: pointer;
  border: #75a8fb solid 1px;
  background-color: #75a8fb;
}
.draftBtn {
  display: inline-block;
  font: normal normal 0.9375rem/39px "Century Gothic", Helvetica, Arial, sans-serif;
  height: 39px;
  color: white;
  border-radius: 4px;
  padding: 0 18px;
  cursor: pointer;
  border: #facd41 solid 1px;
  background-color: #facd41;
}
.publishBtn {
  display: inline-block;
  font: normal normal 0.9375rem/39px "Century Gothic", Helvetica, Arial, sans-serif;
  height: 39px;
  color: white;
  border-radius: 4px;
  padding: 0 18px;
  cursor: pointer;
  border: #99c942 solid 1px;
  background-color: #99c942;
}
.redBtn {
  display: inline-block;
  font: normal normal 0.9375rem/39px "Century Gothic", Helvetica, Arial, sans-serif;
  height: 39px;
  color: white;
  border-radius: 4px;
  padding: 0 18px;
  cursor: pointer;
  border: #de5e41 solid 1px;
  background-color: #de5e41;
}
.viewsContainer {
  position: static;
}
.viewsContainer .pageTitle {
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 25px;
}
.viewsContainer .pageTitle:before {
  margin-right: 10px;
  font-size: 1.5625rem;
}
.viewsContainer #paneContainer {
  position: relative;
  width: 100%;
}
.viewsContainer #paneContainer > div[class] {
  position: absolute;
  width: inherit;
}
.viewsContainer #paneContainer > div[class].shareativeContainer {
  left: -2000px;
  border-right: #eeeeee solid 2px;
}
.viewsContainer #paneContainer > div[class].facadesContainer {
  min-height: 500px;
  left: 0;
  border-left: #eeeeee solid 2px;
}
.viewsContainer #paneContainer > div[class].facadesContainer #facadesContainerInner {
  padding: 30px 0 30px 82px;
}
.viewsContainer #paneContainer > div[class].facadesContainer .facadesHeader {
  display: none;
  margin-bottom: 20px;
  padding: 0 11px;
}
.viewsContainer .resizeLink {
  font: normal normal 0.8125rem/31px "Century Gothic", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: black;
  width: 160px;
  background-color: #e6e6e6;
  padding: 0 25px;
  font-weight: bold;
  position: absolute;
  top: 250px;
  text-align: center;
  cursor: pointer;
}
.viewsContainer .resizeLink.disabled {
  opacity: 0.4;
  pointer-events: none;
}
.viewsContainer .resizeLink#show-all-shareatives {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  left: -66px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-box-shadow: -2px 3px 3px #cccccc;
  box-shadow: -2px 3px 3px #cccccc;
}
.viewsContainer .resizeLink#show-all-facades {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  right: -66px;
  -webkit-box-shadow: 2px -3px 4px #cccccc;
  box-shadow: 2px -3px 4px #cccccc;
}
.editFacadesList {
  float: left;
}
.editFacadesList > li {
  float: left;
  margin: 0 16px 16px 0;
}
.editFacadesList > li:first-child {
  margin-left: 0;
}
.editFacadesList > li.selected > a {
  background-color: #de5e41;
  color: white;
}
.editFacadesList > li > a {
  display: block;
  padding: 0 15px;
  border-radius: 4px;
  color: black;
  background-color: #f2f2f2;
  font: normal normal 0.7rem/30px "Century Gothic", Helvetica, Arial, sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
}
.addFacadeBtn {
  float: right;
  text-transform: uppercase;
  display: inline-block;
  font: normal normal 0.9375rem/39px "Century Gothic", Helvetica, Arial, sans-serif;
  height: 39px;
  color: white;
  border-radius: 4px;
  padding: 0 18px;
  cursor: pointer;
  border: #99c942 solid 1px;
  background-color: #99c942;
}
.addFacadeBtn:before {
  font-size: 1rem;
  margin-right: 6px;
}
#uploadVideoThumb {
  cursor: pointer;
}
