<div class="app-modal" id="editShareativeModal" style="display: none;">
<!-- Uncomment the below for ajax call
 <%#=# form_for @sharetive,remote: true,:html => {:class => 'remote_me',multipart: true ,:id => "addNewShareativeForm" } do |f| %> -->

  <%= form_for @sharetive,:html => {:class => 'remote_me',multipart: true ,:id => "addNewShareativeForm" } do |f| %>
    <div class="app-modal-header clearfix">
      <a href="#" class="close-modal">Close</a>
      <h1>Edit Shareative  <%= @sharetive.name %></h1>
    </div>
    <span class="uploadSpan">
      <div class="app-modal-body">
        <div class="inputGroup clearfix">
          <div class='inputHolder'>
            <div class="input-group sideBySide">
              <label for="Facade">Add to Facade</label>
              <%= f.collection_select :facade_id,@facades,:id,:name,id: 'edit_facade_id',:class  => 'listOfFacades' %>
            </div>
            <div class="input-group">
              <label for="facadeTitle" >Title</label>
              <%= f.text_field :name, id: 'edit_facadeTitle' %>
            </div>
            <div class="input-group">
              <label for="Description">Description</label>
              <%= f.text_area :description, id: 'edit_facadeDescription' %>
            </div>
            <div class="input-group">
              <label for="youtubeURL">YouTube URL</label>
              <%= f.text_field :video_url, id: 'edit_youtubeURL' %>
            </div>
            <strong> OR </strong>
            <br/>
            <br/>
            <div class="input-group sideBySide lastChild">
              <label for="uploadThumb">Upload Thumbnail</label>
              <div class="sideGroup uploadVideoThumbGroup">
                <a id="edit_uploadVideoThumb">Click to upload a thumbnail for the image</a>
                <%= f.file_field :sharetive, id: 'edit_fileInput' %>
              </div>
              <%= f.hidden_field :sharetive_cache %>
            </div>
          </div>
        </div>
      </div>    
      <div class="app-modal-footer">
        <%= f.submit 'Update',:class => 'publishBtn' %>
        <a class="deleteShareative redBtn" data-sid="<%= @sharetive.id %>" data-fid="<%= @sharetive.facade_id %>">Delete</a>
        <a href="#" class="close-modal">Cancel</a>
      </div>
    </span>
  <% end %>
</div>
<a href="#editShareativeModal" style='display:none;' class='editModaltriggger'></a>
<script> 
 var fileInput = $('#edit_fileInput');
  $('#edit_uploadVideoThumb').click(function(){
    fileInput.trigger('click');
  });
</script>  