<% if @success %>
  var addedShartive = <%= @sharetive.as_json.to_json.html_safe %>
  $('#shareativesContainerInner').append(renderShareative(addedShartive))
  hideModal($('#newShareativeModal'));
<%else%>
  alert('failed')
<%end%>