<h1>Sharetives#index</h1>
<table>
  <thead>
    <tr>
      <th> Name </th>
      <th> Order </th>
      <th> Type </th>
    </tr>
  </thead>
  <tbody>
    <% @sharetives.each do |sharetive| %>
    <tr>
      <td> <%= link_to sharetive.name,facade_sharetive_path(@facade,sharetive) %></td>
      <td> <%= sharetive.position %>
      <td> <%= sharetive.sharetive_type %>
    </tr>
    <%end%>
  </tbody>
</table>
