<%= form_for([@facade,@sharetive],:multipart => true) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br/>

  <div>
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>
  <br/>

  <div>
    <%= f.label :sharetive_type %>
    <%= f.select :sharetive_type,options_for_select([['image','image'],['video','video']]) %>
  </div>
 <br/>
  <div>
    <%= f.label :video_url %>
    <%= f.text_field :video_url %>
  </div>
   <br/>
  <div>
     <%= f.file_field :sharetive %>
  </div>
  <br/>
  <div>
    <%= f.submit  :submit %>
  </div>
<%end%>
