<% if @sharetive.sharetive_type == "images" %>
  <%= image_tag @sharetive.sharetive %>
<%else%>
  <%= @sharetive_video_id %>
  <iframe id="ytplayer" type="text/html" width="300" height="168.75"
src="https://www.youtube.com/embed/<%= @sharetive.video_id %>?autoplay=0&showinfo=0"
frameborder="0" allowfullscreen>
<%end%>
