<% if @success %>
  var editedShartive = <%= @sharetive.as_json.to_json.html_safe %>
  var selectSharetive = "div#shareativeId-"+editedShartive.id; 
  console.log(selectSharetive);
  $(selectSharetive).replaceWith(renderShareative(editedShartive))
  hideModal($('#editShareativeModal'));
<%else%>
  alert('failed')
<%end%>
