<% [:alert,:success,:notice,:error].each do |alert_type| %>
  <% if flash[alert_type] %>
    <div class=<%= alert_type.to_s %>>
      <span><%= flash[alert_type] %> </span>
    </div>
  <%end%>
<%end%>