<div id="footer" class="clearfix">
  <p>Poaster.mobi - 2013. 20 N Wacker Drive, Suite 3330, Chicago, IL 60606</p>
  <a href="#">ABOUT US</a>
  <a href="#">CONTACT</a>
  <a href="#">SUPPORT</a>
  <a href="#">TERMS</a>
</div>
