<div id="appHeader" class="clearfix">
  <%= link_to image_tag("logo.png"), '/', :id => 'brand' %>
</div>
<div id="pageHeader">
  <h1>Command Poast</h1>
  <ul id="appTabs">
    <li><%= link_to 'INSIGHTS', '#',:class => "#{active_css_class('insights')} entypo-chart-pie" %></li>
    <li><%= link_to 'ANALYTICS','#',:class => "#{active_css_class('analytics')} entypo-chart-line" %></li>
    <li><%= link_to 'CONTENT',facades_path,:class => "#{active_css_class('facades')} fontawesome-file" %></li>
    <li><%= link_to 'USERS',users_path,:class => "#{active_css_class('users')} entypo-users" %></li>
  </ul>
</div>