<div class="profileDetail">
  <div class="profileName">
    <strong class="name"><%= current_user.full_name %></strong>
    <span class="entypo-down-dir"></span>
    <span class="org"><%= current_user.company["name"].capitalize %></span>
  </div>
  <div class="list">
    <a href="#">Settings</a>
    <%= link_to "Sign out",logout_path,method: :delete %>
  </div>
</div>
