<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CommandPost</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link rel="stylesheet" type="text/css" href="http://weloveiconfonts.com/api/?family=entypo">
    <link rel="stylesheet" type="text/css" href="http://weloveiconfonts.com/api/?family=zocial">
    <link rel="stylesheet" type="text/css" href="http://weloveiconfonts.com/api/?family=fontawesome">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrap">
      <div id="wrapper">
        <%= render 'flash_notifications' %>
        <div id="app">
          <%= render 'menu_bar' %>
          <%= render 'header' %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%#= render 'footer' %>
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
  </body>
</html>