<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CommandPost</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link rel="stylesheet" type="text/css" href="http://weloveiconfonts.com/api/?family=entypo">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body id="<%= params[:controller] && params[:action] %>">
  <div id="bodyPattern"></div>
  <!-- <div class="overlay"></div> -->
    <div id="wrap">
      <div id="wrapper">
        <!-- Site Layout for the login pages only -->
        <div id="app">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'footer' %>
  </body>
</html>
